---
header_image : /images/about-bg.jpg
header_title : Sobre mí
header_subtitle : o sobre lo que hago, que es lo mismo...
title: Acerca de ...
---
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Saludos! Mi nombre es Erik Beltran, soy programador de computadoras en particular programador web, lector cuando puede y amante de las ciencias, en especial la biologia</p>

                <p>Por naturaleza me siento identificado con el software libre como alternativa para el uso academico y profesional, por lo tanto lo apoyo y lo promuevo como puedo.</p>
                
                <p>Empece programando en QBasic luego pase al scripting en VBS y estudie de manera formal algo de de VisualBasic</p>

                <p>Conozco bastante bien algunos lenguajes del stack web como PHP , CSS, HTML , Javascript <br/>
                y obviamente sus respectivos frameworks como por ejemplo Codeigniter, Kohana, jQuery, Bootstrap</p>

                <p>Tambien conozco sobre otros lenguajes generales , como por ejemplo Python, Ruby, Java, Bash</p>
                <p>Alguno que otro framework como Ruby on Rails (al cual soy fánatico) , Django , Sinatra, NodeJS</p>
                
                <p>Debido a eso tambien aprendí sobre servidores bajo linux , tanto en VPS's desde cero como proveedores de cloud computing como Microsoft Azure y Amazon Web Services, casi todos mis proyectos los he implementado en alguno de estos servidores</p>
                
                <p>Me manejo mucho mejor en Amazon Web Services, use muchos de sus servicios como por ejemplo : EC2 (el inicio del stack!) , SNS , S3 , SQS , RDS, pero aún quiero aprender a usar otros servicios de AWS como por ejemplo Lambda</p>

                <p>Con Micrososft Azure solo he podido usar sus Maquinas Virtuales y su manejo de autoescalamiento, en general me fué complejo manejar Azure desde linux.</p>

                <p>He usado diferentes bases de datos como sqlite , postgresql, mysql/mariadb uno que otro NoSQL como Riak, Memcached, Redis y MongoDB.</p>
                
                <p>He hecho mi propio engine bot y bots scripts para un cliente de videojuego bajo Java, JOGL y Groovy (cuando lo jugaba)</p>
                
                <p>Aprendí mucho sobre electronica y programación de microcontroladores usando Arduino incluso hice mi propio miniproyecto para conectar un arduino a internet usando una tarjeta adaptable de rj45 con el protocolo TCP, logrando conectarme a un servidor e intercambiar respuestas.</p>

                <p>Tuve la suerte de involucrarme en diversidad de proyectos que van desde el comercio electronico (3 años en el medio) y los medios de comunicacion (5 años) , tambien de manera independiente he visto todo tipo de proyectos, desde ONG's, webs personales, aplicaciones para couriers y facturacion</p>

                <p>Emprendi mi propio proyecto personal con mi hermano escrito en Ruby On Rails que por ahora sigue esperando el momento para despegar ;) </p>

                <p>Y con ese emprendimiento aprendi de programacion de Dispositivos Moviles como Android y Windows Phone tanto de manera nativa, como usando la herramienta Intel XDK para desarrollos hibridos (que me encantó muchisimo)</p>

                <p>Actualmente estamos con mi hermano viendo lanzar otro interesante proyecto esta vez con Middleman (al igual que este blog!)</p>

                <p>Si tienes algun duda o solo quieres pasar a saludar puedes escribirme a <a href="&#x6d;&#x61;&#105;&#x6c;&#116;&#111;&#x3a;&#x65;&#114;&#105;&#x6b;&#64;&#98;&#x65;&#x6c;&#116;&#114;&#x61;&#110;&#46;&#112;&#x77;">&#101;&#x72;&#x69;&#x6b;&#x40;&#x62;&#x65;&#108;&#x74;&#114;&#x61;&#x6e;&#x2e;&#112;&#x77;</a></p>

            </div>
        </div>
    </div>

    <hr>






