<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>  Erik Blog |  <%= @title || current_page.data.title %></title>

    <%= stylesheet_link_tag "normalize", "bootstrap.min.css", "clean-blog.min.css" %>

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



  </head>

  <body class="<%= page_classes %>">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/about.html">Acerca de</a>
                    </li>
                    <li>
                        <a href="/proyectos.html">proyectos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('<%= current_page.data.header_image || '/images/home-bg.jpg'%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="<%=if defined? current_article.body then "post-heading" else "site-heading" end %>">
                        <h1><%= if defined? @header_title then @header_title elsif defined? current_article.title then current_article.title else current_page.data.header_title end%></h1>                        
                        <%=if defined? current_article.body then "" else "<hr class='small'>" end %>
                        <span class="subheading"><%=current_page.data.header_subtitle%></span>
                        <%if defined? current_article.body%>
                        <span class="meta">Escrito por <a href="/">Erik</a> el <%= I18n.l current_article.date , :format => "%e de %B" , :locale => :es %></span>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <% if defined? current_page.tags %>
      <hr class="small">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                        <%= yield %>

                    <hr>


<div id="disqus_thread"></div>

<script type="text/javascript">

    /* * * CONFIGURATION VARIABLES * * */

    var disqus_shortname = 'erikblogpw';
    var disqus_identifier = '<%=current_article.url%>'; //'a unique identifier for each page where Disqus is present';
    var disqus_title = '<%=current_article.title %>'; //'a unique title for each page where Disqus is present';
    var disqus_url = 'http://beltran.pw<%=current_article.url%>'; //'a unique URL for each page where Disqus is present';

    /* * * DON'T EDIT BELOW THIS LINE * * */

    (function() {

        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;

        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

    })();

</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</hr>

                  <p><b>Tags</b> : 
                    <% current_page.tags.each do |tag, articles| %>
                      <span><%= link_to "#{tag}", tag_path(tag) %></span> &nbsp;
                    <% end %>
                  </p>
                </div>
            </div>
        </div>
    <%else%>
        <%= yield %>
    <%end %>

  </body>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/sshkey">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/erik.beltran.10">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/hunk4ths/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Erik Beltran - 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <%= javascript_include_tag  "jquery.js","bootstrap.min.js","clean-blog.min.js" %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68658261-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
