---
pageable: true
per_page: 12
---
<% @title = "Articulos sobre #{tagname}" %>
<% @header_title = "Articulos sobre #{tagname}" %>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% page_articles.each_with_index do |article, i| %>
          <!-- use article.summary(250) if you have Nokogiri available to show just
               the first 250 characters -->
                  <div class="post-preview">
                      <a href="<%=article.url%>">
                          <h2 class="post-title">
                              <%= article.title %>
                          </h2>
                          <h3 class="post-subtitle post-summary">
                              <%= article.summary %>

                          </h3>
                      </a>
                      <p class="post-meta">Escrito el <%= I18n.l article.date , :format => "%e de %B" , :locale => :es %> </p>
                  </div>
                  <hr>
        <% end %>



                <!-- Pager -->
                <ul class="pager">
            <% if paginate && num_pages > 1 %>
              <p>Page <%= page_number %> of <%= num_pages %></p>
              <% if prev_page %>
                <li class="prev"><%= link_to 'Previous page', prev_page %></li>
              <% end %>
            <% end %>                    
            <% if paginate %>
              <% if next_page %>
                <li class="next"><%= link_to 'Next page', next_page %></li>
              <% end %>
            <% end %>
                </ul>
            </div>
        </div>
    </div>

    <hr>



